.popup__save-button {
  width: 238px;
  height: 46px;
  color: #fff;
  background-color: #000;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.3s linear;
  margin: 19px 0 0;
  padding: 0;
  border: none;
  border-radius: 2px;
}

.popup__save-button:hover {
  opacity: 0.8;
}

@media screen and (min-width: 1024px) {
  .popup__save-button {
    width: 358px;
    height: 50px;
    font-size: 18px;
    line-height: 22px;
    margin: 22px 13px 11px;
}
}
