.auth__singup-link {
  transition: opacity 0.3s linear;
  color: #ffffff;
  border: none;
  text-decoration: none;
  margin-left: 3px;
  cursor: pointer;
}

.auth__singup-link:hover {
  opacity: 0.6;
}
