.profile__edit-button {
  min-width: 18px;
  height: 18px;
  background-image: url("../../../images/profile-edit-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #FFF;
  background-color: #000;
  margin-top: 8px;
  transition: opacity 0.3s linear;
  cursor: pointer;
}

@media screen and (min-width: 1150px) {
  .profile__edit-button {
    width: 24px;
    height: 24px;
    margin-top: 14px;
}
}

.profile__edit-button:hover {
  opacity: 0.6;
}
