.popup__item { 
    box-sizing: border-box;
    width: 238px; 
    height: 27px; 
    color:black; 
    font-style: normal; 
    font-weight: 400; 
    font-size: 14px; 
    line-height: 17px; 
    border:none; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); 
    margin-left: 0; 
    }  
  
  .popup__item:focus { 
    outline: 0; 
  } 
  
  @media screen and (min-width: 1024px) { 
    .popup__item { 
      width: 358px; 
      row-gap: 30px; 
      margin-left: 13px; 
  } 
  
  } 