.profile__add-button {
    width: 282px;
    height: 50px;
    border: 2px solid #FFF;
    box-sizing: border-box;
    background-color: #000;
    background-image: url("../../../images/profile-add-button.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    margin-top: 19px;
    margin-right: 0;
    transition: opacity 0.3s linear;
    padding: 0;
    cursor: pointer;
    border-radius: 2px;
  }

  @media screen and (min-width: 1150px) {
    .profile__add-button {
      width: 150px;
      height: 50px;
      margin-top: 0;
      background-size: 22px;
      margin-left: auto;
  }
  }

  .profile__add-button:hover {
    opacity: 0.6;
  }
